doctype
html
  head
    meta(charset='UTF-8')
    title docit
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(rel="stylesheet", type="text/css", href="css/assets/kit.css")
    //- link(rel="stylesheet", href="css-assets/font/stylesheet.css", type="text/css", charset="utf-8")
  body
    include icons.svg
    .k-section
      .k-section__header Colors
      .cf.m-t-x3-g
        .k-color.c-grey1-bg-g
        .k-color.c-grey2-bg-g
        .k-color.c-grey3-bg-g
        .k-color.c-grey4-bg-g
        .k-color.c-grey5-bg-g
        .k-color.c-grey6-bg-g
        .k-color.c-grey7-bg-g
        .k-color.c-grey8-bg-g
        .k-color.c-grey9-bg-g
        .k-color.c-grey10-bg-g

      .cf
        .k-color.c-red1-bg-g
        .k-color.c-red2-bg-g

      .cf
        .k-color.c-facebook-bg-g
        .k-color.c-blue1-bg-g
        .k-color.c-green1-bg-g

      //- - var data = {}

      //- .section-kl
      //-   .header-ke Icons
      //-   .cf 
      //-     .icon-sample-kl
      //-       .hash-e#b749f3862138d6f5dc48e711cf78d96f b749f3862138d6f5dc48e711cf78d96f
      //-       - var el = { path: 'dribbble-icon' }
      //-       include partials/icon

      //-     .icon-sample-kl
      //-       .hash-e#3fa272e8fb10c79190156c1cb76e17b8 3fa272e8fb10c79190156c1cb76e17b8
      //-       - var el = { path: 'heart-icon' }
      //-       include partials/icon

      //-     .icon-sample-kl
      //-       .hash-e#1d5ad044bb593b686a15420d384d1ca1 1d5ad044bb593b686a15420d384d1ca1
      //-       - var el = { path: 'twitter-icon' }
      //-       include partials/icon

      //-     .icon-sample-kl
      //-       .hash-e#7e6dd7f5097564bf71405babb48d7f26 7e6dd7f5097564bf71405babb48d7f26
      //-       - var el = { path: 'share-icon' }
      //-       include partials/icon

      //-     .icon-sample-kl
      //-       .hash-e#4d325ed8c186e618ee469c39070999ac 4d325ed8c186e618ee469c39070999ac
      //-       - var el = { path: 'main-logo-icon' }
      //-       include partials/icon

      //- .section-kl
      //-   .header-ke Elements
      //-   .k-sample
      //-     .hash-e#67e12e92af48d19f9837ee74a939186d 67e12e92af48d19f9837ee74a939186d
      //-     a(href="#") Link
      //-   .k-sample
      //-     .hash-e#33d4f33638f7f6b8f477008694fcb8ef 33d4f33638f7f6b8f477008694fcb8ef
      //-     a(href="#").is-hoverable Link
      //-   .k-sample
      //-     .hash-e#e15bc71b5d3935997c1f4c1c1ce95f17 e15bc71b5d3935997c1f4c1c1ce95f17
      //-     a(href="#").is-hoverable-one Link

      //-   .cf
      //-   .hash-e#6386698283218228c3370f800252f7f8 6386698283218228c3370f800252f7f8
      //-   .k-w-bg
      //-     input.input(placeholder="what do you think?")

      //-   .hash-e#8fc53d41021ebf4740f5d03e48d85ffc 8fc53d41021ebf4740f5d03e48d85ffc
      //-   .k-w-bg
      //-     textarea.input(placeholder="what do you think?")


      //- .section-kl
      //-   .header-ke Blocks
      //-   .k-sample
      //-     .hash-e#746ecf9c9cd1fa3310f786a3cfba24b2 746ecf9c9cd1fa3310f786a3cfba24b2
      //-     - el = {}
      //-     include partials/post-avatar
      //-   .k-sample
      //-     .hash-e#a32632912711062cb3bae59dd231edcc a32632912711062cb3bae59dd231edcc
      //-     - el = { class: 'post-avatar--x5' }
      //-     include partials/post-avatar

      //-   .k-sample
      //-     .hash-e#0eb0b15a2e7d3f7e3eb23eb3834d7c71 0eb0b15a2e7d3f7e3eb23eb3834d7c71
      //-     - el = { class: 'post-avatar--x5 post-avatar--circle' }
      //-     include partials/post-avatar
        
      //-   .cf
      //-   .k-sample
      //-     .hash-e#4f5ec690ca58ca5e9faa2f83b9c790cd 4f5ec690ca58ca5e9faa2f83b9c790cd
      //-     - el = { name: 'LegoMushroom', username: '@legomushroom' }
      //-     include partials/avatar-names

      //-   .k-sample
      //-     .hash-e#a5ead6e6d02c33dcde7d92d4375386b8 a5ead6e6d02c33dcde7d92d4375386b8
      //-     - el = { name: 'LegoMushroom', username: '@legomushroom', class: '', id: ''} 
      //-     - el.postAvatar = { class: 'post-avatar--x5' }
      //-     include partials/comment
      //-       a(href="#").is-hoverable @legomushroom
      //-       | , neat! want to eat that gumburger! :)
      //-   .cf
        
      //-   .k-sample
      //-     .hash-e#37bed26a5c6167c4513ce9e135b4b97e 37bed26a5c6167c4513ce9e135b4b97e
      //-     - el = {}
      //-     - el.postAvatar = { class: 'post-avatar--x5 post-avatar--circle' }
      //-     include partials/user-arrow-avatar

      //-   .cf

      //-   .k-sample
      //-     .hash-e#9552ced68e88c8d8b0eaa34601f69b8c 9552ced68e88c8d8b0eaa34601f69b8c
      //-     - el = {}
      //-     - el.items = [ 'new post', 'profile', 'settings', 'help', 'sign out' ]
      //-     include partials/dropdown

      //-   .k-sample
      //-     .hash-e#9552ced68e88c8d8b0eaa34601f69b8c 9552ced68e88c8d8b0eaa34601f69b8c
      //-     - el = { class: 'dropdown--slice-top shadow-eff' }
      //-     - el.items = [ 'new post', 'profile', 'settings', 'help', 'sign out' ]
      //-     include partials/dropdown

      //-   .cf

      //-   .k-sample
      //-     .hash-e#f9478b0efe4b679e7d93ff6714fc849a f9478b0efe4b679e7d93ff6714fc849a
      //-     - el = { class: '' }
      //-     - icon = { path: 'dribbble-icon', class: 'is-dribbble' }
      //-     include partials/post-source

      //-   .k-sample
      //-     .hash-e#c0a851890861617e15db37a979ff4095 c0a851890861617e15db37a979ff4095
      //-     - el = { class: '' }
      //-     - icon = { path: 'twitter-icon', class: 'is-twitter' }
      //-     include partials/post-source

      //-   .k-sample
      //-     .hash-e#78466e66bbe30e3ca3fee109d95eb553 78466e66bbe30e3ca3fee109d95eb553
      //-     - el = { class: '' }
      //-     - icon = { path: 'facebook-icon', class: 'is-facebook' }
      //-     include partials/post-source

      //-   .k-sample
      //-     .hash-e#a3ec64f4f5067fc1728d86edc2f097cd a3ec64f4f5067fc1728d86edc2f097cd
      //-     - el = { class: 'post-source--hoverable' }
      //-     - icon = { path: 'twitter-icon', class: 'is-twitter' }
      //-     include partials/post-source

      //-   .cf
      //-   .k-sample
      //-     .hash-e#aac98fd8a8d242c7a398f1360f80916d aac98fd8a8d242c7a398f1360f80916d
      //-     - el = { count: '6' }
      //-     include partials/like-count
      //-   .k-sample
      //-     .hash-e#ad4b009db9259943d3c20a7b2f1782f3 ad4b009db9259943d3c20a7b2f1782f3
      //-     - el = { class: 'like-count--check', count: '45k' }
      //-     include partials/like-count

      //-   .k-sample
      //-     .hash-e#c9ecbcca33093a711447e0bc5a594506 c9ecbcca33093a711447e0bc5a594506
      //-     - el = { class: 'noty-icon--check', count: '999' }
      //-     - el.icon = { path: 'bell-icon' }
      //-     include partials/noty-icon

      //-   .cf

      //-   .grid
      //-     .grid-bit.grid-bit--5-20
      //-       .hash-e#c306d24799f4810b25ffb22afcf7ffeb c306d24799f4810b25ffb22afcf7ffeb
      //-       - var likeCount  = { class: 'like-count--check', count: '45k' }
      //-       - var icon        = { path: 'share-icon', class: 'is-hoverable' }
      //-       - el = {}
      //-       include partials/post-actions

      //-     .grid-bit.grid-bit--10-20
      //-       .hash-e#77473e14bf935dc1a77122d5bc59d729 77473e14bf935dc1a77122d5bc59d729
      //-       - el = { text: '2 comments' }
      //-       - el.likeCount   = { class: 'like-count--check', count: '45k' }
      //-       - el.icon        = { path: 'share-icon', class: 'is-hoverable' }
      //-       - el.postActions = { }
      //-       include partials/post-actions-line
      //-   .cf
      //-   .hash-e#03baddbb430f0a1c1e2aedf37ccf06fb 03baddbb430f0a1c1e2aedf37ccf06fb
      //-   mixin post(o)
      //-     - o = (o == null) ? {} : o;
      //-     .post(class="#{o.class || ''}")
      //-       .post__top
      //-         - el = { class: 'post-source--hoverable' }
      //-         - icon = { path: 'twitter-icon', class: 'is-twitter' }
      //-         include partials/post-source
      //-         - el = { name: 'LegoMushroom', username: '@legomushroom' }
      //-         include partials/avatar-names
      //-         .post__text Incomplete List of Mistakes in the Design of CSS
      //-           a(href="").is-hoverable http://wiki.csswg.org/ideas/mistakes
      //-       .post__media
      //-         img(src="http://sadf")

      //-       - el = { text: '2 comments' }
      //-       - el.likeCount   = { class: 'like-count--check', count: '45k' }
      //-       - el.icon        = { path: 'share-icon', class: 'is-hoverable' }
      //-       - el.postActions = { }
      //-       include partials/post-actions-line

      //-       .post__comments
      //-         - el = { name: 'PB', username: '@princessbubblegum', class: '', id: ''} 
      //-         - el.postAvatar = { class: 'post-avatar--x5' }
      //-         include partials/comment
      //-           a(href="#").is-hoverable @legomushroom
      //-           | , neat! want to eat that gumburger! :)
              
      //-         - el = { name: 'Ice King', username: '@iceking', class: '', id: ''} 
      //-         - el.postAvatar = { class: 'post-avatar--x5' }
      //-         include partials/comment
      //-           a(href="#").is-hoverable @princessbubblegum
      //-           | , you'd better use that phone and call me maybe, sweetie :*
      //-           | I'm still waiting on your call, so take your sugar thumbs and
      //-           | dial my number!!!!!!!!11
              
      //-         - el = { name: 'Иннокентий Смоктуновский Младший', username: '@innokentiy', class: '', id: ''} 
      //-         - el.postAvatar = { class: 'post-avatar--x5' }
      //-         include partials/comment
      //-           a(href="#").is-hoverable @legomushroom
      //-           | , neat! want to eat that gumburger! :)

      //-         textarea.post__textarea.input(placeholder="what do you think?")

      //-       .post__open

      //-   +post()

      //-   .hash-e#a176785fb9888bf12b4532ddb25bd519 a176785fb9888bf12b4532ddb25bd519
      //-   //- +post({ class: 'post--open' })

      //-   .hash-e#813e7295f2155af802dd28a0ec111767 813e7295f2155af802dd28a0ec111767
      //-   .load-more-posts 3 new posts



      //- .section-kl
      //-   .header-ke Grid
      //-   .hash-e#c9f545437c019c6b67579d6dadc07ecf c9f545437c019c6b67579d6dadc07ecf
      //-   - var gridSize = 20
      //-   - for (var i=1; i<(gridSize/2)+1; i++ )
      //-     .grid.grid--gutter-x2.m-t-x2-g
      //-       .grid-bit(class="grid-bit--#{i}-#{gridSize}"):    .k-content
      //-       .grid-bit(class="grid-bit--#{gridSize-i}-#{gridSize}"): .k-content

      //-   .hash-e#b9a0ff7b6444fe8b3932c06919534ab5 b9a0ff7b6444fe8b3932c06919534ab5
      //-   - for (var i=1; i<(gridSize/2)+1; i++ )
      //-     .grid.grid--sliced.grid--gutter-x4.m-t-x2-g
      //-       .grid-bit(class="grid-bit--#{i}-#{gridSize}"):    .k-content
      //-       .grid-bit(class="grid-bit--#{gridSize-i}-#{gridSize}"): .k-content


      script(src="js/libs/jquery-1.10.2.js")
      script(src="js/libs/handlebars-v1.3.0.js")
      script(src="js/libs/ember-1.8.1.js")
      script(src="js/app.js")




